@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-font: 'Montserrat', sans-serif;

    /*Colors*/
    --accent-color: #EBEBFF;
    --secondary-color: #020213;
    --button-color: #0A0674;
    --save-button-color: #FFE819; 
}

html,
body{
    font-family: var(--body-font);
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    border: 2px solid var(--secondary-color);
    border-radius: 2rem;
    cursor: pointer;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-weight: 100;
}

.container{
    width: 30%;
    padding: 4em;
    background-image: url(./img/app-bg.jpg);
    background-size: cover;
    border: 4px solid var(--secondary-color);
    border-radius: 2rem;
}

.output-number h2{
    color: var(--accent-color);
    font-size: 4rem;
    padding: 1rem 0;
    text-align: center;
    text-shadow: 0 0 10px var(--secondary-color);
}

.input-buttons{
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
}

.increment-button,
.save-button{
    transition: 0.2s;
}

.increment-button:hover{
    background-color: var(--button-color);
    color: white;
    font-weight: 700;
}

.save-button:hover{
    background-color: var(--save-button-color);
    font-weight: 700;
}

.previous-entries{
    padding: 1rem 0;
    text-align: center;
    color: var(--accent-color);
}

/*Media Queries*/

@media screen and (max-width: 768px){
    .container{
        width: 50%;
    }
}

@media screen and (max-width: 414px){
    .container{
        width: 90%;
    }
}